<div *ngIf="user === selectedUser">

    <h2>{{user.name | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label>name:
        <!-- <input [(ngModel)]="user.name" placeholder="name"/> -->
      </label>
    </div>
  
  </div>
