<h2>Current Users</h2>

<div class="row">
    <div class="100% columns">
      <ul class="users">
        <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
          <span class="badge">{{user.id}}</span> {{user.name}}
        </li>
      </ul>
    </div>
</div>
