
<header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Customer Management</span>
        <div class="mdl-layout-spacer"></div>
        <div>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
              <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
              <span class="mdl-switch__label">switch between users and orders</span>
          </label>
        </div>
    </div>
</header>
<main class="mdl-layout__content">

  <div class="row">

    <app-users></app-users>
    <!-- <app-user-profile [user]="user" [selectedUser]="selectedUser"></app-user-profile> -->

  </div>
</main>
